*{
    padding: 0;
    margin: 0;
}

body{
    font-style: italic;
    background-image: url(../img/OIP\ \(2\).webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
}

header{
    margin: 0;
    background-color: hsl(38, 100%, 72%);
    position: sticky;
    top: 0;
    z-index: 1000;
}

h1{
    font-family: cursive;
    font-size: 100px;
    text-align: center;
}

span{
    font-family: 'Times New Roman', Times, serif;
}

.div0{
    text-align: center;
    justify-content: center;
    background-color: rgba(194, 194, 194, 0.791);
    margin: 10px;
    margin-right: 255px;
}
table {
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba-(0, 0, 0, 0.15);
    cursor: pointer;
    border: 2px solid midnightblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
thead{
    background-color: midnightblue;
    color: white;
    text-align: left;
}
th, td{
    text-align: center;
    padding: 15px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
}
tbody, tr, th, td{
    border: 1px solid white;
}
tbody tr:nth-child(even){
    background-color: #f3f3f3;
}
tbody tr:nth-child(odd){
    background-color: rgb(164, 164, 164);
}
