<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste</title>
    <link rel="stylesheet" href="../static/CSS/controle.css">
</head>
    <body>
        <header>
            <h1>Liste de la classe <span>TC1-B</span></h1>
        </header>
            <table>
                <thead>
                    <th>Numero</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Sexe</th>
                    <th colspan="2">Statut</th>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>ABALO</td>
                        <td>Célia</td>
                        <td>F</td>
                        <td><input type="radio" id="present" name="celia" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="celia" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>ADETONA</td>
                        <td>Djamal</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="jamal" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="jamal" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>ADJAYI</td>
                        <td>Jacques Emmanuel</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="jac" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="jac" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>AGBALENYO</td>
                        <td>Koamie Haniel</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="haniel" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="haniel" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    <tr>
                        <td>05</td>
                        <td>AHOULOU</td>
                        <td>Kodjo Romaric</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="romarique" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="romarique" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>AKOTO</td>
                        <td>Bright Osborn Freeman</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="osborn" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="osborn" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr><tr>
                        <td>07</td>
                        <td>AKOUETE</td>
                        <td>Kafoui Cynthia</td>
                        <td>F</td>
                        <td><input type="radio" id="present" name="cynthia" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="cynthia" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>ALI-BIDJOWE</td>
                        <td>Zeynab</td>
                        <td>F</td>
                        <td><input type="radio" id="present" name="ali" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="ali" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>ANANI</td>
                        <td>Dede Louise Sylvana</td>
                        <td>F</td>
                        <td><input type="radio" id="present" name="louise" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="louise" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>ASSI</td>
                        <td>Essowèdéou Crépin</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="crepin" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="crepin" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>ATTAH</td>
                        <td>Hervé</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="herve" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="herve" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>AYENA</td>
                        <td>Germain</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="ayena" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="ayena" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>BADOHOUN</td>
                        <td>Abla Eyram Lorraine</td>
                        <td>F</td>
                       <td><input type="radio" id="present" name="loraine" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="loraine" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>BATCHOUDI</td>
                        <td>Hodalou Gnimdou</td>
                        <td>F</td>
                        <td><input type="radio" id="present" name="nadege" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="nadege" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>BODJONA</td>
                        <td>alphonse Magnoudéwa</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="phon" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="phon" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>DAKETSE</td>
                        <td>Koffi Semefia</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="kofi" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="kofi" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>DJIBANI</td>
                        <td>Moni Achille</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="acg" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="acg" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>DOSSA</td>
                        <td>Akou Yekonia</td>
                        <td>F</td>
                        <td><input type="radio" id="present" name="aku" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="aku" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>EGAH</td>
                        <td>Elom Jérémie</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="elom" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="elom" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>ESSEH</td>
                        <td>Edem Junior</td>
                        <td>M</td>
                      <td><input type="radio" id="present" name="edm" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="edem" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>FOLIKOUE</td>
                        <td>Foli Yao Maximin</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="max" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="max" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>GABIAM</td>
                        <td>Emefa Phoebé</td>
                        <td>F</td>
                       <td><input type="radio" id="present" name="phob" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="phob" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>GBEGBENI</td>
                        <td>N'nabé</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="n'ab" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="n'ab" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>GNANZAM</td>
                        <td>Alexandre-Marie</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="alex" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="alex" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr><tr>
                        <td>25</td>
                        <td>HALOUBIYOU</td>
                        <td>Béni Essowaza</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="ben" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="ben" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>KALAO</td>
                        <td>Esso-Wazam</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="esso" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="esso" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>KOKOU</td>
                        <td>Edoh Rodrigue</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="edoh" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="edoh" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>KOSSI</td>
                        <td>Godwin</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="god" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="god" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>KOUYAKOUTILI</td>
                        <td>Makiliwè Bénédicte</td>
                        <td>F</td>
                       <td><input type="radio" id="present" name="bene" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="bene" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>LAWSON-PLACCA</td>
                        <td>Latevie Jean Jonat</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="jona" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="jona" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>MALOU</td>
                        <td>Manamédédé Ulrich</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="ulrich" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="ulrich" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>MENSAH</td>
                        <td>Samuel Folly Wollagno</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="sam" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="sam" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>NAGBANI</td>
                        <td>Dammipi Corneille</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="corn" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="corn" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>NYAKOU</td>
                        <td>Yawo Laélien Jason</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="lala" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="lala" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>35</td>
                        <td>PAKAMEY</td>
                        <td>Damba Nadège</td>
                        <td>F</td>
                       <td><input type="radio" id="present" name="nado" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="nado" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>36</td>
                        <td>POTAPOU</td>
                        <td>Tchein Idaya</td>
                        <td>F</td>
                       <td><input type="radio" id="present" name="ida" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="ida" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>37</td>
                        <td>SEMEDO</td>
                        <td>Kokou Ethiel</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="koku" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="koku" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>SOADAN</td>
                        <td>Kokou Sylvain</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="syl" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="syl" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>TABATE</td>
                        <td>Ephraime Essowaza</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="eso" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="eso" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>40</td>
                        <td>TCHAKOROM</td>
                        <td>Atcha Ziade</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="ziade" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="ziade" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>41</td>
                        <td>TCHEGBELE</td>
                        <td>Ramziya</td>
                        <td>F</td>
                       <td><input type="radio" id="present" name="zia" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="zia" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr><tr>
                        <td>42</td>
                        <td>TIDJANI</td>
                        <td>Afdal</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="afdal" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="afdal" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>43</td>
                        <td>TOLAKE</td>
                        <td>Lidaou Henri</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="henrie" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="henrie" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>44</td>
                        <td>VEDOMEY</td>
                        <td>Amy Gloria</td>
                        <td>F</td>
                       <td><input type="radio" id="present" name="amy" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="amy" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>45</td>
                        <td>WILSON</td>
                        <td>Adjé Koingson</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="adje" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="adje" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>46</td>
                        <td>YIBOKOU</td>
                        <td>Yao</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="yao" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="yao" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                </tbody>
            </table>
            <footer>
                <button>valider le contrôle</button>
                
            </footer>
    </body>
</html>