<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste</title>
    <link rel="stylesheet" href="../static/CSS/controle.css">
</head>
    <body>
        <header>
            <h1>Liste de la classe <span>TC1-B</span></h1>
        </header>
            <table>
                <thead>
                    <th>Numero</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Sexe</th>
                    <th colspan="2">Statut</th>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>ABALO</td>
                        <td>Célia</td>
                        <td>F</td>
                        <td><input type="radio" id="present" name="celia" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="celia" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>ADETONA</td>
                        <td>Djamal</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="jamal" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="jamal" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>ADJAYI</td>
                        <td>Jacques Emmanuel</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="jac" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="jac" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>AGBALENYO</td>
                        <td>Koamie Haniel</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="haniel" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="haniel" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    <tr>
                        <td>05</td>
                        <td>AHOULOU</td>
                        <td>Kodjo Romaric</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="romarique" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="romarique" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    
                </tbody>
            </table>
            <footer>
                <button><a href="statistique.html">valider le contrôle</a></button>
                
            </footer>
    </body>
</html>
