<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logiciel de gestion de présence</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/interface.css') }}">
</head>
    <body>        
        <div class="div0">
            <nav>
                <a href="https://new.iai-togo.tg"><img src="{{ url_for('static', filename='img/logo.jpeg') }}" alt="iai togo" id="img1"></a>
                <a href="{{ url_for('login') }}">Se connecter</a>
            </nav>
            <header>
                <h1>Système de Gestion de Pésence</h1>
            </header>
        </div>
       
    </body>
</html>