<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste</title>
    <link rel="stylesheet" href="../static/CSS/liste.css">
</head>
    <body>
        <header>
            <h1>Liste de la classe <span>TC1-B</span></h1>
        </header>
            <table>
                <thead>
                    <th>Numero</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Sexe</th>
                    <th colspan="2">Statut</th>
                </thead>
                <tbody>
                   <tr>
                        <td>01</td>
                        <td>GNANZAM</td>
                        <td>Alexandre-Marie</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="alex" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="alex" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr><tr>
                        <td>02</td>
                        <td>HALOUBIYOU</td>
                        <td>Béni Essowaza</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="ben" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="ben" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>KALAO</td>
                        <td>Esso-Wazam</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="esso" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="esso" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>KOKOU</td>
                        <td>Edoh Rodrigue</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="edoh" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="edoh" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>KOSSI</td>
                        <td>Godwin</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="god" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="god" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>KOUYAKOUTILI</td>
                        <td>Makiliwè Bénédicte</td>
                        <td>F</td>
                       <td><input type="radio" id="present" name="bene" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="bene" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>LAWSON-PLACCA</td>
                        <td>Latevie Jean Jonat</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="jona" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="jona" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>MALOU</td>
                        <td>Manamédédé Ulrich</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="ulrich" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="ulrich" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>MENSAH</td>
                        <td>Samuel Folly Wollagno</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="sam" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="sam" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>NAGBANI</td>
                        <td>Dammipi Corneille</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="corn" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="corn" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>NYAKOU</td>
                        <td>Yawo Laélien Jason</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="lala" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="lala" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>PAKAMEY</td>
                        <td>Damba Nadège</td>
                        <td>F</td>
                       <td><input type="radio" id="present" name="nado" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="nado" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>POTAPOU</td>
                        <td>Tchein Idaya</td>
                        <td>F</td>
                       <td><input type="radio" id="present" name="ida" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="ida" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>SEMEDO</td>
                        <td>Kokou Ethiel</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="koku" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="koku" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>SOADAN</td>
                        <td>Kokou Sylvain</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="syl" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="syl" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>TABATE</td>
                        <td>Ephraime Essowaza</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="eso" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="eso" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>TCHAKOROM</td>
                        <td>Atcha Ziade</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="ziade" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="ziade" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>TCHEGBELE</td>
                        <td>Ramziya</td>
                        <td>F</td>
                       <td><input type="radio" id="present" name="zia" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="zia" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr><tr>
                        <td>19</td>
                        <td>TIDJANI</td>
                        <td>Afdal</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="afdal" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="afdal" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>TOLAKE</td>
                        <td>Lidaou Henri</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="henrie" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="henrie" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>VEDOMEY</td>
                        <td>Amy Gloria</td>
                        <td>F</td>
                       <td><input type="radio" id="present" name="amy" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="amy" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>WILSON</td>
                        <td>Adjé Koingson</td>
                        <td>M</td>
                       <td><input type="radio" id="present" name="adje" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="adje" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>YIBOKOU</td>
                        <td>Yao</td>
                        <td>M</td>
                        <td><input type="radio" id="present" name="yao" value="present">
                        <label for="present">present</label></td>
                        <td><input type="radio" id="absent" name="yao" value="Absent">
                        <label for="Absent">Absent</label> </td>
                    </tr> 
                </tbody>
            </table>
     <footer>
                <button>Exporter</button>
                <form>
                    <button type="submit">Enregistrer</button>
                    <button type="reset">Reinitialiser</button>
                </form>
            </footer>
    </body>
</html>