<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Statistiques</title>
        <link rel="stylesheet" href="../static/CSS/statistiques.css">
    </head>
    <body>
        <header>
            <h1>Les statistiques d'aujourdhuit</h1>
        
        </header>
        <div class="div1">
            <p>Nombre d'étudiants :</p>  
            <p>Nombre de présents : </p>
            <p>Nombre d'absents : </p>
            <p>Taux de présence : </p>
        </div>
        <footer>
            <button class="bouton1"><a href="">Exporter en Excel</a></button>
            <button class="bouton2"><a href="../interface.html">Retour</a></button>
        </footer>
    </body>
</html>